*.gem
*.rbc
.bundle
.config
.yardoc
.bs
Gemfile.lock
InstalledFiles
TODO-PRIVATE.md
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/test_bank_account_private.rb
test/version_tmp
tmp
